$green-gradient-bg: linear-gradient(274.39deg, rgba(64, 145, 108, 0.7) 0%, rgba(82, 183, 136, 0.7) 100%);
$lines-green-bg: linear-gradient(180deg, #40916C 0%, rgba(82, 183, 136, 0.9) 85%);
$dark-green: #40916C;
$gray-bg: rgba(214, 214, 214, 0.7);
$xxxl: 1750px;
$xxl: 1599px;
$xl: 1359px;
$d: 1280px;
$l: 1199px;
$m: 991px;
$s: 775px;
$xs: 575px;
$xxs: 376px;
